.header {
    background: rgba(254, 249, 248, 0.5);
    backdrop-filter: blur(5px) grayscale(0.3);
    position: fixed;
    padding: 1.5em 5%;
    top: 0;
    width: 100%;
    z-index: 10;

    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    align-items: center;
}

.nav {
    display: none;
}

.navList {
    display: contents;

    list-style: none;
    /* counter-reset: list-counter; */
}

/* .navItem {
    counter-increment: list-counter;
}

.navItem::before {
    color: var(--light-green);
    content: '0' counter(list-counter) '.';
    margin-right: 0.5em;
} */

.navLink {
    color: var(--charcoal);
}

.navLink:hover {
    color: var(--peach);
}

.resumeLink {
    background: transparent;
    border-radius: 0.25em;
    border: 2px solid currentColor;
    color: var(--peach);
    padding: 0.5em;
    
    transition: all 0.25s cubic-bezier(0.645, 0.045, 0.355, 1);
}

.resumeLink:hover {
    outline: none;
    box-shadow: 3px 3px 0 0 currentColor;
    transform: translate(-4px, -4px);
}

@media (min-width: 769px) {

    .header {
        /* flex-direction: row; */
    }

    .nav {
        display: flex;
        justify-content: flex-end;
        align-items: center;
        gap: calc(2.5em + 2vw);
    }
}

:global(.darkMode) .header {
    background: rgba(10, 25, 47, 0.5);
}

:global(.darkMode) .navLink {
    color: var(--slate);
}

:global(.darkMode) .navLink:hover {
    color: var(--light-green);
}

:global(.darkMode) .resumeLink {
    color: var(--light-green);
}

.darkMode .header {
    /* background: rgba(17, 34, 64, 0.25); */
    /* backdrop-filter: blur(20px) grayscale(0.5); */
}

.darkMode .navLink {
    color: red;
}
