@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {

  h2 {
    @apply font-secondary text-2xl md:text-3xl font-semibold text-zinc-600 dark:text-lightest-slate;
  }

  h3 {
    @apply font-secondary text-xl md:text-2xl font-semibold text-zinc-600 dark:text-lightest-slate;
  }

  a {
    @apply transition-colors duration-300 ease-btn-hover;
  }

  abbr {
    @apply no-underline;
  }

  address {
    @apply not-italic;
  }
}

/* Neutral
--grayish-blue: rgb(78, 93, 115);
Used in pattern-divider svg files
--dark-grayish-blue: hsl(217, 19%, 24%);
--dark-blue: hsl(218, 23%, 16%); */