@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {

  h2,
  h3 {
    @apply dark:text-lightest-slate;
  }

  abbr {
    @apply no-underline;
  }

  address {
    @apply not-italic;
  }
}

/* Neutral
--grayish-blue: rgb(78, 93, 115);
Used in pattern-divider svg files
--dark-grayish-blue: hsl(217, 19%, 24%);
--dark-blue: hsl(218, 23%, 16%); */